:root {
    font-size: 10px;
    font-family: helvetica, arial, sans-serif;
    --primary-color: #f5f5f5;
    --secondary-color:#dad5d5;
}

body {
    height: 500rem;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Futura PT', Helvetica, sans-serif;
    font-size: 4rem;
    padding-bottom: 1rem;
    font-weight: 800;
}

h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

p {
    font-size: 1.6rem;
    line-height: 2rem;
}

.bg-red {
    background-color: red;
}

.bg-pink {
    background-color: pink;
}

.container {
    margin: 0 auto;
    max-width: 192rem;   
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-c-sm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-1 {
    flex: 1;
}

.pointer {
    cursor: pointer;
}

.pad-sm {
    padding: 0 2rem;
}

.pad-top-xs {
    padding-top: 3rem;
}
.pad-top-sm {
    padding-top: 4.8rem;
}

.icon {
    border-radius: 2.2rem;
    font-size: 2.4rem;
    padding: 1rem;
    cursor: pointer;
 }

 .icon:hover {
    background-color: var(--secondary-color)
 }

 .bttn {
    font-size: 1.6rem;
    padding: .6rem 2rem;
    margin-top: 2.4rem;
    border-radius: 3rem;
    border: 1px;
    background-color: black;
    color: white;
    cursor: pointer;
 }

 .bttn:hover {
    opacity: .6;
 }

 .wd-sm {
    width: 100%;
 }



 /* HEADER */
 #header1 {
    display: none;
 }

 #heart {
    display: none;
 }

 #desktop-menu-nav {
    display: none;
 }

 #search-btn {
    display: none;
 }

 #desktop-menu-search {
    justify-content: flex-end;
 }

 #banner {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
 }

 #banner p {
    font-size: 1.2rem;
    line-height: 2rem;
 }

 /* HERO SECTION */
 #hero-pic-landscape {
    display: none;
}

.details {
    text-align: start;
    margin-top: 2.4rem;
}

.slider {
    display: none;
}

#extra-shop {
    justify-content: flex-end;
}

.kick-shoes {
    margin-top: 2rem;
    justify-content: space-between;
}

#kickShoes2, #kickShoes3 {
    display: none;
}



    .col-1 {
        width: 8.33333%;
    }
    .col-2 {
        width: 16.66667%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33333%;
    }
    .col-5 {
        width: 41.66667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33333%;
    }
    .col-8 {
        width: 66.66667%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33333%;
    }
    .col-11 {
        width: 91.66667%;
    }
    .col-12 {
        width: 100%;
    }
    
   

/* Medium-sized screen */
@media (min-width: 768px) {

    .flex-md {
        display: flex;
    }

    .wd-md {
        width: 48.75%;
    }

    /* HERO SECTION */
    #hero-pic-portrait {
        display: none;
    }

    #hero-pic-landscape {
        display: flex;
    }

    .details {
        text-align: start;
    }

    .slider {
        display: flex;
        justify-content: flex-end;
        padding-left: 2rem;
        gap: 1rem;
    }

    .slider .icon {
        background-color: var(--primary-color);
    }

    .slider .icon:hover {
        background-color: var(--secondary-color);
    }

    .kicks-col {
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1rem;
    }

    #kickShoes2 {
        display: flex;
    }



    .col-md-1 {
        width: 8.33333%;
    }
    .col-md-2 {
        width: 16.66667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333%;
    }
    .col-md-5 {
        width: 41.66667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333%;
    }
    .col-md-8 {
        width: 66.66667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333%;
    }
    .col-md-11 {
        width: 91.66667%;
    }
    .col-md-12 {
        width: 100%;
    }
}



/* Large-sized screen */
@media (min-width: 1440px) {

    h1 {
        font-size: 6rem;
    }

    .pad-lg {
        padding: 0 3.8rem;
    }

    .pad-top-lg {
        padding-top: 6.8rem;
    }

    .wd-lg {
        width: 32.5%;
    }


    /* HEADER */
    #header1 {
        display: flex;
        height: 3.6rem;
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 500;
        background-color: var(--primary-color);   
    }

    #air-jordan-logo {
        justify-content: flex-start;
    }

    #desktop-header-menu {
        justify-content: flex-end;
    }

    #desktop-header-menu span {
        margin: 0 1.4rem;
        cursor: auto;  
    }

    /* DESKTOP MENU */
    #hamburger {
        display: none;
    }

    #heart {
        display: flex;
    }

    #desktop-menu-nav {
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
    }

    #desktop-menu-nav li {
        display: inline;
        padding: 1.2rem 1.2rem 1.8rem 1.2rem;
        color: black;
        text-decoration: none;
    }

    #desktop-menu-search {
        justify-content: space-between;
        padding-left: 5rem;
    }

    #search-btn {
        display: flex;
        font-size: 1.8rem;
        line-height: 2.4rem;
        padding: 1.2rem 4.8rem;
        border: none;
        border-radius: 10rem;
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }

    #search-btn:hover {
        background-color: var(--secondary-color);
        color:black;
    }
    
    #search-icon {
        position: absolute;
    }

    .menu-search {
        position: relative;
    }

    /* HERO SECTION */
    .details {
        text-align: center;
        margin-top: 4.8rem;
    }

    #kickShoes3 {
        display: flex;
    }

   

    .col-lg-1 {
        width: 8.33333%;
    }
    .col-lg-2 {
        width: 16.66667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333%;
    }
    .col-lg-5 {
        width: 41.66667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33333%;
    }
    .col-lg-8 {
        width: 66.66667%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333%;
    }
    .col-lg-11 {
        width: 91.66667%;
    }
    .col-lg-12 {
        width: 100%;
    } 
}

